<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <script src="/static/js/uikit.min.js"></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>

<body>

    <!-- content -->
    {% block content %}
    {% endblock %}
    <!-- // content -->
</body>
</html>